.linelengdata {
    height: 332px;
    position: relative;
    background:#fff;
    .myline{
        width:100%;
        position: relative;
        padding:16px 20px;
        height: 332px;
        box-sizing: border-box;
    }
}