.paipairebar {
    height: 332px;
    background: #fff;
    // position: relative;
    .mybar{
        // position: relative;
        padding:16px 20px;
        width: inherit;
        height: 332px;
        box-sizing: border-box;
    }
}